
<div class="btn btn-primary" onclick="@Toggle">SVD decomposition steps @(toggle ? "-" : "+")</div>
@if (toggle)
{
    <div class="card card-body">
        <h1>Resulted</h1>
        <ReadonlyMatrix Value="@transformation.Sigma.ToArray()"></ReadonlyMatrix>
    </div>
}

@functions {
[ParameterAttribute]
private SVD transformation { get; set; }

bool toggle = false;

void Toggle()
{
    toggle = !toggle;
}
}
