@page "/"


<div class="container">
    <div class="jumbotron text-center">
        <h1>Matrix calc</h1>
        <h8>
            #19 - 14 variant
        </h8>
        <h7>
            Приведення до нижнього дводіагонального вигляду перетвореннями
            Хаусхолдера
        </h7>
    </div>
    <div class="my-3">
        <div class="btn btn-secondary btn-file">
            Import from CSV <input type="file" onchange="handleFileSelect(this.files);" />
        </div>
    </div>
    <Matrix Value="@matrix" ValueChanged="@((m) => matrix = (int[,])m)"></Matrix>
    <div class="my-3">
        <div class="btn btn-primary" onclick="@CalculateSVD">
            Perform SVD
        </div>
    </div>
    @if (householderTransformation != null)
    {
        <ReadonlyHouseholders transformation="householderTransformation"></ReadonlyHouseholders>
    }
    @if (svdTransformation != null)
    {
        <ReadonlySVD transformation="svdTransformation"></ReadonlySVD>
    }
</div>

@functions {
    int[,] matrix = new int[5,5];
    HouseholderTransformation householderTransformation;
    SVD svdTransformation;


    protected override void OnInit()
    {
        base.OnInit();
        CsvImport.OnImport += ExportCsv;
    }

    void ExportCsv(object sender, CsvImport import)
    {
        matrix = import.Result;
        this.StateHasChanged();
    }

    void CalculateHouseholder()
    {
        double[,] dst = new double[matrix.GetLength(0), matrix.GetLength(1)];
        Array.Copy(matrix, dst, matrix.Length);
        householderTransformation = new HouseholderTransformation(Matrix<double>.Build.DenseOfArray(dst));
        householderTransformation.Perform();
    }

    void CalculateSVD()
    {
        CalculateHouseholder();
        var left = householderTransformation.LeftHouseHolder.Reverse().Aggregate((a, c) => a * c);
        var right = householderTransformation.RightHouseholder.Aggregate((a, c) => a * c);
        svdTransformation = new SVD(householderTransformation.Result, left, right);
        svdTransformation.Perform();
    }
}

